body {
  background-color: rgb(22, 76, 6);
  color: black;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: all 0.4s ease;
  padding: 50px;
}

.dark-mode {
  background-color: #000000;
  color: rgb(4, 100, 17);
}

button {
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #015328;
  color: rgb(0, 0, 0);
  margin-top: 25px;
  transition: 0.3s;
}

button:hover {
  background-color: #036d07;
}
